package {{ package_name }};

public class {{ class_name }} {
    {% for attr in attributes %}
    private {{ attr.type }} {{ attr.name }};
    {% endfor %}
}
package {{ package_name }}.model;

import jakarta.persistence.*;
import java.util.*;

@Entity
public class {{ class_name }} {

    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    private Long id;

    {% for attr in attributes %}
    private {{ attr.type }} {{ attr.name }};
    {% endfor %}

    // Getters y Setters
    {% for attr in attributes %}
    public {{ attr.type }} get{{ attr.name|capfirst }}() {
        return {{ attr.name }};
    }

    public void set{{ attr.name|capfirst }}({{ attr.type }} {{ attr.name }}) {
        this.{{ attr.name }} = {{ attr.name }};
    }
    {% endfor %}
}
package {{ package }};