package {{ package_name }}.controller;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import java.util.List;
import {{ package_name }}.model.{{ class_name }};
import {{ package_name }}.repository.{{ class_name }}Repository;

@RestController
@RequestMapping("/api/{{ class_name|lower }}s")
public class {{ class_name }}Controller {

    @Autowired
    private {{ class_name }}Service service;

    @GetMapping
    public List<{{ class_name }}> getAll() {
        return service.findAll();
    }

    @GetMapping("/{id}")
    public {{ class_name }} getById(@PathVariable Long id) {
        return service.findById(id).orElse(null);
    }

    @PostMapping
    public {{ class_name }} create(@RequestBody {{ class_name }} obj) {
        return service.save(obj);
    }

    @PutMapping("/{id}")
    public {{ class_name }} update(@PathVariable Long id, @RequestBody {{ class_name }} obj) {
        obj.setId(id);
        return service.save(obj);
    }

    @DeleteMapping("/{id}")
    public void delete(@PathVariable Long id) {
        service.deleteById(id);
    }

}
